interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sandbox.taxjar.com/v2/nexus/regions
  response:
    body: {string: '{"regions":[{"country_code":"US","country":"United States","region_code":"IL","region":"Illinois"},{"country_code":"US","country":"United
        States","region_code":"WI","region":"Wisconsin"},{"country_code":"US","country":"United
        States","region_code":"WA","region":"Washington"},{"country_code":"US","country":"United
        States","region_code":"PA","region":"Pennsylvania"},{"country_code":"US","country":"United
        States","region_code":"NC","region":"North Carolina"},{"country_code":"US","country":"United
        States","region_code":"CO","region":"Colorado"}]}'}
    headers:
      Content-Type: [application/json]
      ETag: [W/"d32d764d785714fbef4544a278fa06f9"]
    status: {code: 200, message: OK}
version: 1
