# DO NOT MERGE — temporary pin until dependency PRs land.
odoo-addon-account_banking_ach_base @ git+https://github.com/OCA/l10n-usa.git@refs/pull/178/head#subdirectory=account_banking_ach_base
odoo-addon-l10n_us_partner_legal_number @ git+https://github.com/OCA/l10n-usa.git@refs/pull/177/head#subdirectory=l10n_us_partner_legal_number
