# DO NOT MERGE - pins until the dependency PRs land.
odoo-addon-l10n_us_sales_tax_state_returns @ git+https://github.com/OCA/l10n-usa.git@refs/pull/193/head#subdirectory=l10n_us_sales_tax_state_returns
odoo-addon-l10n_us_sales_tax_report @ git+https://github.com/OCA/l10n-usa.git@refs/pull/184/head#subdirectory=l10n_us_sales_tax_report
odoo-addon-l10n_us_sales_tax_engine @ git+https://github.com/OCA/l10n-usa.git@refs/pull/183/head#subdirectory=l10n_us_sales_tax_engine
