@font-face {
    font-family: "Inter";
    src: url("/account_banking_ach_direct_debit_portal/static/src/fonts/Inter-VariableFont_opsz,wght.ttf")
        format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/account_banking_ach_direct_debit_portal/static/src/fonts/Inter-Italic-VariableFont_opsz,wght.ttf")
        format("truetype");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}
