@font-face {
    font-family: "Inter";
    src: url("/account_banking_ach_direct_debit_portal/static/src/fonts/Inter-VariableFont_opsz,wght.ttf")
        format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/account_banking_ach_direct_debit_portal/static/src/fonts/Inter-Italic-VariableFont_opsz,wght.ttf")
        format("truetype");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

/* Regular */
@font-face {
    font-family: "Myriad Pro";
    src: url("/account_banking_ach_direct_debit_portal/static/src/fonts/MYRIADPRO-REGULAR.OTF")
        format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Light */
@font-face {
    font-family: "Myriad Pro";
    src: url("/account_banking_ach_direct_debit_portal/static/src/fonts/MyriadPro-Light.otf")
        format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Bold */
@font-face {
    font-family: "Myriad Pro";
    src: url("/account_banking_ach_direct_debit_portal/static/src/fonts/MYRIADPRO-BOLD.OTF")
        format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Bold Italic */
@font-face {
    font-family: "Myriad Pro";
    src: url("/account_banking_ach_direct_debit_portal/static/src/fonts/MYRIADPRO-BOLDIT.OTF")
        format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* Condensed */
@font-face {
    font-family: "Myriad Pro Condensed";
    src: url("/account_banking_ach_direct_debit_portal/static/src/fonts/MYRIADPRO-COND.OTF")
        format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Condensed Italic */
@font-face {
    font-family: "Myriad Pro Condensed";
    src: url("/account_banking_ach_direct_debit_portal/static/src/fonts/MYRIADPRO-CONDIT.OTF")
        format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Bold Condensed */
@font-face {
    font-family: "Myriad Pro Condensed";
    src: url("/account_banking_ach_direct_debit_portal/static/src/fonts/MYRIADPRO-BOLDCOND.OTF")
        format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Bold Condensed Italic */
@font-face {
    font-family: "Myriad Pro Condensed";
    src: url("/account_banking_ach_direct_debit_portal/static/src/fonts/MYRIADPRO-BOLDCONDIT.OTF")
        format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* SemiBold */
@font-face {
    font-family: "Myriad Pro";
    src: url("/account_banking_ach_direct_debit_portal/static/src/fonts/MYRIADPRO-SEMIBOLD.OTF")
        format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* SemiBold Italic */
@font-face {
    font-family: "Myriad Pro";
    src: url("/account_banking_ach_direct_debit_portal/static/src/fonts/MYRIADPRO-SEMIBOLDIT.OTF")
        format("opentype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
