#wrapwrap.o_portal {
    #account-homepage {
        .header {
            @media (min-width: 768px) {
                align-items: center;
                -webkit-box-pack: start;
                justify-content: flex-start;
                display: flex;
            }

            @media (max-width: 768px) {
                .header-title {
                    margin-bottom: 10px;
                }

                .wrapper-button {
                    display: flex;
                    align-items: center;
                    -webkit-box-pack: center;
                    justify-content: center;

                    .btn {
                        width: 100%;

                        @media (max-width: 768px) {
                            padding: 0.175rem 0.025rem;
                        }
                    }
                }
            }
        }

        .card-credit {
            background-color: #f0f8ff;
            border: 1px solid #dee2e6;
            border-radius: 0.5rem;
            padding: 1rem 1.5rem;
            height: 100%;

            .icon {
                font-size: 30px;
                color: #174378;
            }

            .info-icon {
                border: 1px solid #00000033;
                border-radius: 50%;
                color: #00000033;
                position: relative;
                height: 24px;
                width: 24px;
                cursor: pointer;

                i {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%) !important;
                }

                .tooltip-box {
                    visibility: hidden;
                    width: 250px;
                    background-color: white;
                    color: #6d6d6d;
                    font-weight: 500;
                    text-align: left;
                    border-radius: 8px;
                    padding: 10px;
                    position: absolute;
                    top: 130%;
                    left: 50%;
                    transform: translateX(-50%);
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                    opacity: 0;
                    transition: opacity 0.3s;
                }

                &:hover .tooltip-box {
                    visibility: visible;
                    opacity: 1;
                }
            }

            h6 {
                font-size: 1.25rem;
                margin-bottom: 0;
            }

            .amount {
                font-family: Inter;
                font-weight: 600;
                font-size: 2rem;
                letter-spacing: 0%;
                color: #174378;
                margin-top: 5px;
            }
        }
    }
}
