#wrapwrap.o_portal {
    #payment {
        .card-header {
            border-bottom: 1px solid #d9d9d9;
            padding: 12px 24px;
            background-color: white;

            @media (max-width: 768px) {
                border-bottom: none;
            }
        }

        .card-title {
            font-family: Inter;
            font-weight: 500;
            font-size: 22px;
            line-height: 23.85px;
            letter-spacing: 0%;
            color: #1e5593;
            margin-bottom: 0;
        }

        .invoice-select {
            border-radius: 0.4rem;
            border: 1px solid #ced4da;
            font-size: 0.95rem;
            color: #333;
            padding: 0.5rem 0.75rem;
            background-color: white;

            &:focus {
                border-color: #0d6efd;
                box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
            }
        }

        .payment-method-option {
            padding: 1.5rem 0.25rem;
            background-color: #fff;
            width: 100%;

            @media (max-width: 768px) {
                padding: 1.5rem 1rem;
            }

            &:not(:first-child) {
                border-top: 1px solid #dee2e6;
            }

            .flex-desktop {
                -webkit-box-pack: start !important;
                justify-content: flex-start !important;
                align-items: center !important;

                @media (min-width: 768px) {
                    display: flex;
                }

                .form-check {
                    min-width: 106px;
                }
            }

            .option {
                font-family: Inter;
                font-weight: 500;
                font-size: 20px;
                letter-spacing: 0%;
                color: #323232;
            }

            .note {
                color: rgba(50, 50, 50, 0.25);
            }

            .credit_card_img {
                height: 40px;
            }
        }

        .o_portal_my_doc_table {
            th {
                background-color: white;
                font-family: Inter;
                font-weight: 500;
                font-size: 13.84px;
                line-height: 19.37px;
                letter-spacing: 0%;
                color: #ababab;
            }

            td:first-child,
            th:first-child {
                padding-left: 24px;
            }
        }

        .left {
            @media (max-width: 768px) {
                order: 2;
            }
        }

        .right {
            @media (max-width: 768px) {
                order: 1;
            }
        }

        .detail {
            @media (max-width: 768px) {
                border: none;

                .card-header {
                    padding: 12px 0;
                }
            }
        }

        .summary {
            .card-title {
                font-family: Inter;
                font-weight: 500;
                font-size: 36px;
                line-height: 23.85px;
                letter-spacing: 0%;
                color: #323232;
                margin-bottom: 45px;

                @media (max-width: 768px) {
                    margin-bottom: 25px;
                    font-size: 28px;
                    color: #1e5593;
                }
            }

            @media (max-width: 768px) {
                border: none;

                .card-body {
                    padding: 0;

                    .wrapper {
                        border: 1px solid rgba(0, 0, 0, 0.125);
                        border-radius: 0.25rem;
                        padding: 1rem;
                    }
                }
            }

            .label {
                font-family: Inter;
                font-weight: 500;
                font-size: 16px;
                line-height: 19.37px;
                letter-spacing: 0%;
                color: #a9a9a9;
            }
        }

        .btn-submit {
            background-color: #1e5593;
            color: white;
            margin-top: 3rem;

            @media (max-width: 768px) {
                margin-top: 1rem;
            }
        }
    }

    #payment-confirmation {
        .card-title {
            border-bottom: 1px solid #d9d9d9;
        }

        label {
            color: #6d6d6d96;
        }

        .value {
            color: #323232;
        }

        .alert {
            border-top: 1px solid #d9d9d9;
        }
    }
}
